.HabitsDashboard {
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;

  &-HeatmapSection {
    display: inline-block;
    padding: 2rem;
    border-radius: 0.5rem;
  }

  &-SectionHeading {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: center;
  }
}
