.HabitsDashboard {
  display: flex;
  padding-top: 1rem;

  &-Heading {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: center;
  }

  &-Heatmap {
    margin-left: auto;
  }
}
