.NotFound {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  &-Image {
    width: 60vw;
    margin-bottom: 3vw;
  }
}
