.Habits {
  &-Header {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  &-HabitLink {
    margin: 0 1rem;
    color: var(--color-habits);
    transition: color 0.2s;

    &:hover {
      color: var(--color-hover-dark);
    }
  }

  &-AddButton.btn {
    border-radius: 25%;
    margin-right: 2rem;
  }
}
