.Heatmap {
  display: inline-block;

  &-Row {
    display: flex;
    gap: 0.2rem;

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }

  &-Cell {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 0.1rem solid transparent;
    transition: border-color 0.2s;

    &:hover {
      border-color: var(--color-hover-dark);
    }
  }
}
