.LoginForm {
  min-height: 100%;
  padding: 2rem 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-Heading {
    margin-bottom: 2rem;
  }

  &-Form {
    width: 24rem;
  }

  &-ErrorMessage {
    color: var(--bs-danger);
  }

  &-BottomSection {
    display: flex;
    justify-content: space-between;
  }

  &-SignInLabel {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
