.Navbar {
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &-Brand.navbar-brand {
    font-size: 1.5rem;
  }

  &-NavElement {
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }

  &-UserName {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }

  &-UserIcon {
    color: var(--bs-gray-600);

    &:hover {
      cursor: pointer;
    }
  }
}

// TODO: make a reusable component with these styles
div.Navbar-Dropdown {
  left: 2rem;
  display: flex;
  align-items: center;
}

div.Navbar-DropdownMenu {
  padding: 0;
}

.Navbar-DropdownItem.dropdown-item {
  padding: 0.5rem 1rem;
}

hr.Navbar-DropdownDivider {
  margin: 0 0.5rem;
  width: calc(100% - 1rem);
}
