.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 3rem;
  background-color: var(--color-header-bg);
  color: white;

  &-Logo {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &-NavSections {
    list-style-type: none;
    margin: 0;
    display: flex;
  }

  &-Link {
    margin-left: 1.5rem;
    color: white;
    opacity: 0.8;
    transition: opacity 0.3s;
    text-decoration: none;

    &_last {
      margin-left: 2rem;
    }

    &:hover {
      color: white;
      opacity: 1;
    }
  }

  &-LoginIcon {
    margin-left: 0.5rem;
  }
}
