@use '../../../index' as *;

%icon {
  cursor: pointer;
  color: var(--color-elements-black);
  transition: 0.2s;

  &:active {
    transform: scale(0.9);
  }
}

.Dashboard {
  min-height: 100%;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;

  &-InfoSectionHeader {
    display: flex;
    align-items: center;
  }

  &-ControlButtons {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
  }

  &-HeatmapSection {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem;
    align-items: center;
  }

  &-HeatmapSectionHeader {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-SectionHeading {
    @extend %Heading2Styles;
    margin: 0;
  }

  &-SubsectionHeading {
    @extend %Heading3Styles;
  }

  &-InfoSectionContent {
    padding: 2rem 0;
  }

  &-InfoSubsection {
    margin-bottom: 2rem;
  }

  &-SubsectionContent {
    font-style: italic;
    margin-right: 0.75rem;
    word-break: break-all;
  }

  &-RequirementsValueInputSection {
    margin: 0.5rem 0;
  }

  &-RequirementsInputField {
    width: 5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
    outline: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    &:focus,
    &:active {
      border-color: var(--color-elements-black);
    }
  }

  &-RequirementsIcon {
    @extend %icon;
    margin-left: 0.5rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &-TargetSRLabel {
    margin-right: 0.75rem;
  }

  &-Popover {
    padding: 0.4rem;
    background-color: var(--color-yellow);
  }

  &-PopoverIcon {
    opacity: 0.7;
    transition: opacity 0.2s;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin: 0 0.25rem;

    &:hover {
      opacity: 1;
    }
  }

  &-EditIcon {
    @extend %icon;
    margin-left: 1rem;
  }
}
