.HintComponent {
  &-QuestionIcon {
    color: var(--bs-body-color);
    cursor: pointer;
    margin-left: 0.5em;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  &-Tooltip.tooltip.show {
    opacity: 0.8;
  }
}
