@import-normalize;
@import '~bootstrap/scss/bootstrap';

:root {
  --color-header-bg: #073b4c;
  --color-habits: #06d6a0;
  --color-rgb-habits: 6, 214, 160;
  --color-skills: #118ab2;
  --color-mood: #ef476f;
  --color-yellow: #ffd166;
  --color-hover-dark: #1e1924;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
