@import-normalize;
@import '~bootstrap/scss/bootstrap';

:root {
  --color-bg: #fdfdfd;
  --color-entities-motivation-bg: #f7f7f7;
  --color-header-bg: #073b4c;

  --color-habits: #06d6a0;
  --color-rgb-habits: 6, 214, 160;
  --color-skills: #118ab2;
  --color-rgb-skills: 17, 138, 178;

  --color-red: #ef476f;
  --color-yellow: #ffd166;

  --color-elements-black: rgba(0, 0, 0, 0.8);
  --color-border-light: rgba(0, 0, 0, 0.1);
  --color-hover-dark: #1e1924;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-bg);
}

#root {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
