@import-normalize;
@import './styles/custom';

:root {
  --color-bg: #fdfdfd;
  --color-entities-motivation-bg: #f7f7f7;
  --color-header-bg: #073b4c;

  --color-habits: #006f3c;
  --color-rgb-habits: 0, 111, 60;
  --color-skills: #264b96;
  --color-rgb-skills: 38, 75, 150;
  --color-preferences: #bf212f;
  --color-rgb-preferences: 191, 33, 47;

  --color-elements-black: rgba(0, 0, 0, 0.8);
  --color-border-light: rgba(0, 0, 0, 0.1);
  --color-hover-dark: #1e1924;
}

%Heading2Styles {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

%Heading3Styles {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0.35rem;
}

%LinkUnderlineHoverStyles {
  position: relative;
  text-decoration: none;
  color: var(--color-elements-black);
  opacity: 0.8;
  transition: 0.2s;

  &::before {
    content: '';
    background-color: var(--color-elements-black);
    display: block;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transition: 0.2s;
  }

  &:focus,
  &:hover {
    color: var(--color-elements-black);
    opacity: 1;

    &::before {
      transform: scaleX(1);
    }
  }
}

@mixin entity-button-colors {
  @each $entity-type in ('habit', 'skill', 'preference') {
    &_#{$entity-type}.btn {
      border-color: var(--color-#{$entity-type}s);
      color: var(--color-#{$entity-type}s);

      &:active,
      &:hover {
        background-color: var(--color-#{$entity-type}s);
        border-color: var(--color-#{$entity-type}s);
      }

      &:active:focus,
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(var(--color-rgb-#{$entity-type}s), 0.5);
      }
    }
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-bg);
}

#root {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
