.EntitiesPage {
  min-height: 100%;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;

  &-NoEntitiesLabel {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
  }

  &-ImageContainer {
    max-width: 70vmin;
  }

  &-Image {
    width: 100%;
  }

  &-ManageEntitiesSection {
    max-width: 60%;
    display: flex;
    flex-direction: column;
  }

  &-QuotesComponentWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-Header {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  &-Tooltip.tooltip.show {
    opacity: 0.8;
  }

  &-EntityLink {
    margin-right: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    transition: color 0.2s;

    &:hover {
      color: var(--color-hover-dark);
    }
  }

  &-AddButton.btn {
    border-radius: 25%;
  }

  &-HeatmapSectionHeading {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2rem;
  }
}
