@use '../../../index' as *;

.EntitiesPage {
  min-height: 100%;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;

  &-NoEntitiesLabel {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
  }

  &-ImageContainer {
    min-width: 10vw;
    max-width: 30vw;
  }

  &-Image {
    width: 100%;
  }

  &-ManageEntitiesSection {
    max-width: 60%;
    display: flex;
    flex-direction: column;
  }

  &-QuotesComponentWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &-Header {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  &-ControlButton {
    @include entity-button-colors;
  }

  &-Tooltip.tooltip.show {
    opacity: 0.8;
  }

  &-EntitiesByStatusSection {
    margin-bottom: 3rem;
  }

  &-EntityLink {
    margin-right: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    transition: color 0.2s;

    @include entity-button-colors;
  }

  &-SectionHeading {
    @extend %Heading2Styles;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &-SubsectionHeading {
    @extend %Heading3Styles;
    margin-bottom: 1rem;
  }
}
